$border-color-hover: #666;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);

$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;

$font-size: 14px;

$input-height: 32px;
$input-line-height: 30px;

$color: #333;
$red: #f1453d;
$grey: #eee;
$blue: #2d8cf0;

$transitionTime: 0.4s;
$animationTime: 0.3s;

.fade-enter-active,
.fade-leave-active {
    transition: opacity $transitionTime;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.drop-enter-active, .drop-leave-active {
    transform-origin: center top 0;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-duration: $animationTime;
}

.drop-enter-active {
    animation-name: dropIn;
}

.drop-leave-active {
    animation-name: dropOut;
}

@keyframes dropIn {
    from {
        opacity: 0;
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes dropOut {
    from {
        opacity: 1;
        transform: scaleY(1);
    }
    to {
        opacity: 0;
        transform: scaleY(0.8);
    }
}
