$border-color-hover: #666;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);

$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;

$font-size: 14px;

$input-height: 32px;

$color: #333;
$red: #f1453d;
$grey: #eee;
$blue: #2d8cf0;

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
